* {
    padding: 0;
    margin: 0;
    font-family: Arial, Helvetica, sans-serif;
}
.container {
    width: 100%;
    height: 70px;
    background-color: rgb(96, 96, 251);
    color: #fff;
    position: fixed;
}
.logo{
    float: left;
    padding-top: 20px;
    padding-bottom: 10px;
    padding-left: 30px;
}
.menu{
    margin-left: 700px;
    padding-top: 27px;
}
.container ul li{
    list-style: none;
    display: inline-block;
    margin-right: 50px;
}

.menu ul li a{
    text-decoration: none;
    color: #000000;
}

.menu ul li a:hover {
    color: rgb(234, 234, 240);
    font-style: italic;
}

.banner{
    background-image: url(bg.jpg);
    background-color:rgb(255, 255, 255) ;
    height: 600px;
    text-align: center;
    color: #000000;
}

.banner img{
    border-radius: 100px;
    height: 150px;
    border: 6px solid rgb(86, 153, 248);
    margin-top: 100px;
}

.banner h1{
    margin-top: 10px;
    margin-bottom:10px ;
}
.banner p{
    font-size: 20px;
}

.banner button{
    margin-top: 60px;
    padding: 10px 18px;
    width: 400px;
    border-radius: 50px;
    border: none;
    display: inline-block;
    font-size: 20px;
}

.banner button:hover{
    background-color: rgb(9, 143, 211);
    border: 1px solid #000;
    color: #000;

}
h1 span:before {
    content: '';
    animation: gerak infinite 8s ease;
    transform: translateY(-50%);
    color: rgb(93, 93, 247);
    font-size: 40px;
}

@keyframes gerak{
    0%{
        content:'Saya Inas Afifah' ;
    }
    100%{
        content:'Terima Kasih Telah Mengunjungi Web Saya!' ;
    }
}

.profile{
    height: 450px;
    text-align: center;
    color: #000;
    margin-top: 5px;
    align-content: center;
}


.penjelasan{
    width: 650px;
    height: 200px;
    background-color: rgb(7, 185, 255);
    text-align: justify;
    padding: 30px 30px;
    margin: 40px 10px 10px 55px;
    border-radius: 10px;
    float: left; 
}

.foto img{
    margin-top: 25px;
    width: 250px;
    height: 250px;
    transform: translateX(-10%);
    border-style:groove;
}

.box-pendidikan{
    height: 480px;
    text-align: center;
    color: #000;
    margin-top: 30px;
    align-content: center;
}
.box-kiri img, .box-tengah img, .box-kanan img{
    border-radius: 100px;
    height: 100px;
    border: 6px solid rgb(86, 153, 248);
    margin-top: 80px;
}
.box-kiri, .box-tengah, .box-kanan{
    width: 280px;
    height: 280px;
    background-color:rgb(7, 185, 255);
    text-align: center;
    padding: 20px 20px;
    margin: 30px 10px 10px 55px;
    border-radius: 10px;
    float: left;
}
.box-kiri:hover, .box-tengah:hover, .box-kanan:hover {
    background-color: #0077ff;
    color: #fff;
}
.box-pendidikan h3{
    font-size: 15px;
}
.box-pendidikan p{
    font-size: 13px;
}
.box-pendidikan h3, p{
    margin-top: 10px;
    margin-bottom: 13px;
    padding: 0px 20px;
}

.box-kontak img{
    width: 100px;
    margin-top: 30px;
    margin-bottom: 30px;
    border-radius: 100px;
}
.box-kontak{
    height: 300px;
    text-align: center;
    color: #000;
    background-color: rgb(7, 185, 255);
}

.footer{
    background-color: rgb(96, 96, 251);
    width: 100%;
    height: 40px;
    padding: 3px;
    margin: 50px auto 0px;
    text-align: center;
}